.instructions{
    float: right;
    display: inline;
}

#heading{
    background-color: rgb(1, 12, 26);
    margin:1%;
    margin-bottom: 25px;
    padding: 10px;
    color:white;
    padding-bottom: 20px;
    left: 0;
    text-align: center; 
    position: fixed; 
    top: 0;
    width: 98%;
    animation-name: animation2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    border-radius: 20px;
}

body{
    color: white;
    font-family: monospace;
}

.modal-dialog{
    width: 90%;
}

.footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 5px;

    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animation { 
from{box-shadow: 1px 1px 38px crimson; background-color: crimson;}
33%{box-shadow: 1px 1px 38px chartreuse; background-color: chartreuse;} 
66%{box-shadow: 1px 1px 38px royalblue; background-color: royalblue;} 
to{box-shadow: 1px 1px 38px crimson; background-color: crimson;}
}

#start{
    margin-top: 100px;
}

hr{
    animation-name: animation3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    width: 90%;
    border-width: 4px;
}

canvas{
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;
}

@keyframes animation2 {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

  #close_button{
    float: right;
    color: aliceblue;
  }

  .modal-content{
    background-color: black;
  }

  @keyframes animation3 { 
    from{box-shadow: 1px 1px 38px crimson; border-color: crimson;}
    33%{box-shadow: 1px 1px 38px chartreuse; border-color: chartreuse;} 
    66%{box-shadow: 1px 1px 38px royalblue; border-color: royalblue;} 
    to{box-shadow: 1px 1px 38px crimson; border-color: crimson;}
    }